{% extends 'base.html' %}
{% load humanize %}
{% load simple_math %}
{% load mana %}
{% block title %}{{ card.name }} (card){% endblock %}
{% block body %}
{% with card_color=card.color_identity|mana_symbol_to_name %}
{% with card_link='card-'|add:card_color %}
<h1>{{ card.name }}{% if card_color %} <a href="{% url card_link %}" title="More {{ card_color|capfirst }} cards">{{ card.color_identity|mana_symbols|safe }}</a>{% endif %}</h1>
{% endwith %}
{% endwith %}
<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'card-single' card.id %}">Card</a>
  </li>
  {% if all_commander %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'card-single-pairings' card.id %}">As commander pair</a>
  </li>
  {% endif %}
</ul>

<div class="clearfix">
  {% include 'stats/_card_image_gallery.html' with pos="start" %}
  <p>{{ card.type_line }} {{ card.color_identity|mana_symbols|safe }}</p>
  <p>{% if solo_commander %}<a href="{% url 'cmdr-single' solo_commander.sfid %}">View as commander</a> | {% endif %}<a href="{{ card.scryfall_uri }}">View on Scryfall</a></p>
  <p>Appears in {{ is_in|intcomma }} of {{ could_be_in|intcomma }} decks ({{ is_in|percent_of:could_be_in }}).</p>
  {% if commanders %}
  <p>Appears with these commanders:</p>
  <table class="table d-block mb-3">
    <tr>
      <th>Commander</th>
      {% if sorted_by_synergy %}
      <th><a href="{% url 'card-single' card.id %}">Decks</a></th>
      {% else %}
      <th>Decks&nbsp;↓</th>
      {% endif %}
      {% if sorted_by_synergy %}
      <th>Synergy&nbsp;↓</th>
      {% else %}
      <th><a href="{% url 'card-single-synergy' card.id %}">Synergy</a></th>
      {% endif %}
    </tr>
    {% for cmdr in commanders %}
    <tr>
      <td><a href="{% url 'cmdr-single' cmdr.sfid %}">{{ cmdr }}</a></td>
      <td>{{ cmdr.count }}</td>
      <td>{{ cmdr.synergy }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3">
        {% if commanders.has_previous %}
        <a href="?page=1">first</a>
        <a href="?page={{ commanders.previous_page_number }}">previous</a>
        {% endif %}
        (page {{ commanders.number }} of {{ commanders.paginator.num_pages }})
        {% if commanders.has_next %}
        <a href="?page={{ commanders.next_page_number }}">next</a>
        <a href="?page={{ commanders.paginator.num_pages }}">last</a>
        {% endif %}
      </td>
    </tr>
  </table>
  {% endif %}
</div>
{% endblock %}