<!doctype html>
{% load static %}
{% load django_htmx %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SmallFormats{% endblock %}</title>
    <link href="{% static 'bs/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'htmx/htmx.min.js' %}" defer></script>
  </head>
  <body style="padding-top: 3.5rem">
    {% include '_nav.html' %}
    <div class="container-fluid">
  {% block body %}{% endblock %}
    </div>
  <script src="{% static 'bs/bootstrap.bundle.min.js' %}"></script>
  {% django_htmx_script %}
  </body>
</html>
