{% extends 'base.html' %}
{% load simple_math %}
{% block body %}
<h1>{{ card.name }}</h1>
<p>
  {{ card.type_line }} ({{ card.color_identity }})
  {% if commands > 0 %}<small>[<a href="{% url 'cmdr-single' card.id %}">view as commander</a>]</small>{% endif %}
  {% if card.scryfall_uri %}<small>[<a href="{{ card.scryfall_uri }}">view on Scryfall</a>]</small>{% endif %}
</p>
{% if card.image_uri %}
<p>
<details>
  <summary>Card image</summary>
  <img src="{{ card.image_uri }}" loading="lazy">
</details>
</p>
{% endif %}
<p>
  Appears in {{ is_in }} of {{ could_be_in }} decks ({{ is_in|percent_of:could_be_in }}).
  {% if commands %}
  <a href="{% url 'cmdr-single' card.id %}">Commands {{ commands }}</a> of those.
  {% endif %}
</p>
{% if commanders %}
<p>
  Appears with these commanders:
  <ul>
    {% for cmdr in commanders %}
    <li><a href="{% url 'card-single' cmdr.card__id %}">{{ cmdr.card__name }}</a> ({{ cmdr.count }})</li>
    {% endfor %}
  </ul>
  {% if commanders.has_previous %}
  <a href="?page=1">first</a>
  <a href="?page={{ commanders.previous_page_number }}">previous</a>
  {% endif %}
  (page {{ commanders.number }} of {{ commanders.paginator.num_pages }})
  {% if commanders.has_next %}
  <a href="?page={{ commanders.next_page_number }}">next</a>
  <a href="?page={{ commanders.paginator.num_pages }}">last</a>
  {% endif %}
</p>
{% endif %}
{% endblock %}