{% extends 'base.html' %}
{% load simple_math %}
{% block title %}{{ card.name }} (card){% endblock %}
{% block body %}
<h1>{{ card.name }}</h1>
<ul class="nav nav-tabs mb-2">
  {% if commands > 0 %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cmdr-single' card.id %}">Commander</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cmdr-decklist' card.id %}">Decks</a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'card-single' card.id %}">Card</a>
  </li>
</ul>

<div class="clearfix">
  {% if card.image_uri %}
  <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal">
    <img src="{{ card.image_uri }}" class="float-md-start mb-3 ms-md-2 me-md-3" style="border-radius: 10px" loading="lazy" width="244" height="340">
  </a>
  <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cardModalLabel">{{ card.name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-auto">
          <img src="{{ card.image_uri }}" style="border-radius: 20px" loading="lazy" width="488" height="680">
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <p>{{ card.type_line }} ({{ card.color_identity }})</p>
  <p>{% if commands > 0 %}<a href="{% url 'cmdr-single' card.id %}">View as commander</a> | {% endif %}<a href="{{ card.scryfall_uri }}">View on Scryfall</a></p>
  <p>Appears in {{ is_in }} of {{ could_be_in }} decks ({{ is_in|percent_of:could_be_in }}).</p>
  {% if commanders %}
  <p>Appears with these commanders:</p>
  <ul class="list-group mb-3 ms-sm-3 me-sm-3">
    {% for cmdr in commanders %}
    <li class="list-group-item"><a href="{% url 'card-single' cmdr.card__id %}">{{ cmdr.card__name }}</a> ({{ cmdr.count }})</li>
    {% endfor %}
    <li class="list-group-item">
      {% if commanders.has_previous %}
      <a href="?page=1">first</a>
      <a href="?page={{ commanders.previous_page_number }}">previous</a>
      {% endif %}
      (page {{ commanders.number }} of {{ commanders.paginator.num_pages }})
      {% if commanders.has_next %}
      <a href="?page={{ commanders.next_page_number }}">next</a>
      <a href="?page={{ commanders.paginator.num_pages }}">last</a>
      {% endif %}
    </li>
  </ul>
  {% endif %}
</div>
{% endblock %}