{% extends 'base.html' %}
{% load simple_math %}
{% block body %}
<h1>{{ card.name }}</h1>
<p>{{ card.type_line }} ({{ card.color_identity }})</p>
<p>
  Appears in {{ is_in }} of {{ could_be_in }} decks ({{ is_in|percent_of:could_be_in }}).
  {% if commands %}
  Commands {{ commands }} of those.
  {% endif %}
</p>
{% if commanders %}
<p>
  Appears with these commanders:
  <ul>
    {% for cmdr in commanders %}
    <li><a href="{% url 'card-single' cmdr.card__id %}">{{ cmdr.card__name }}</a> ({{ cmdr.count }})</li>
    {% endfor %}
  </ul>
</p>
{% endif %}
{% endblock %}