{% extends 'base.html' %}
{% load simple_math %}
{% block body %}
<h1>{{ card.name }}</h1>
<p>
  {{ card.type_line }} ({{ card.color_identity }})
  <small>[<a href="{% url 'card-single' card.id %}">view as card</a>]</small>
  {% if card.scryfall_uri %}<small>[<a href="{{ card.scryfall_uri }}">view on Scryfall</a>]</small>{% endif %}
</p>
{% if card.image_uri %}
<p>
<details>
  <summary>Card image</summary>
  <img src="{{ card.image_uri }}" loading="lazy">
</details>
</p>
{% endif %}
<p>
  Commands {{ commands }} of {{ could_be_in }} decks ({{ commands|percent_of:could_be_in }}).
</p>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'c' '1' %}" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'a' '1' %}" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'e' '1' %}" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'i' '1' %}" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 's' '1' %}" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'p' '1' %}" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'l' '1' %}" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'g' '1' %}" hx-trigger="load" hx-swap="outerHTML"></div>
  </div>
</div>
{% endblock %}