{% if card.image_uri %}
<a href="#" data-bs-toggle="modal" data-bs-target="#cardModal">
  <img src="{{ card.image_uri }}" class="float-md-start mb-3 ms-md-2 me-md-3" style="border-radius: 10px" loading="lazy" width="244" height="340">
</a>
<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cardModalLabel">{{ card.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-auto">
        <img src="{{ card.image_uri }}" style="border-radius: 20px" loading="lazy" width="488" height="680">
      </div>
    </div>
  </div>
</div>
{% endif %}