{% extends 'base.html' %}
{% block title %}{{ SITENAME }} — About{% endblock %}
{% block body %}
<div class="container">
<h1>About</h1>
<p>
  Inspired by <a href="https://edhrec.com">EDHrec</a>, this is a deck-stats site for <a href="https://www.pdhhomebase.com/">Pauper EDH</a>.
  It's powered by, and is itself, open source software.
  Come visit us at <a href="https://github.com/PDHdata/">GitHub</a> to peek under the hood.
</p>
<h2>On deck legality</h2>
<p>
  Only legal decks are included in the data.
  We check for validity according to the PDH <a href="https://www.pdhhomebase.com/rules">rules</a> and <a href="https://www.pdhhomebase.com/faq">FAQ</a>.
  In the future, we may add an ability to "rule 0" acorn/silver-border cards.
</p>
<h2>Thanks and credits</h2>
<p>
  Thanks to the folks behind:
  <ul>
    <li><a href="https://edhrec.com">EDHrec</a> — for the inspiration and for being a huge help to the EDH community</li>
    <li><a href="https://archidekt.com">Archidekt</a> — for the deck data and being a great deckbuilder</li>
    <li><a href="https://moxfield.com">Moxfield</a> — for the deck data and being a great community resource</li>
    <li><a href="https://scryfall.com">Scryfall</a> — for the card data and amazing search engine</li>
    <li><a href="https://mtg.fandom.com/">MTG Wiki</a> — for mana symbols</li>
    <li><a href="https://game-icons.net">Game-Icons.net</a> — for the <a href="https://game-icons.net/1x1/quoting/card-play.html"><q>hand grabbing card</q></a> icon, used under <a href="https://creativecommons.org/licenses/by/3.0/">CC3 license</a></li>
    <li><a href="https://python.org">Python</a> — for the fastest way to get going on a project</li>
    <li><a href="https://djangoproject.com">Django</a> — for <q>the web framework for perfectionists with deadlines</q></li>
    <li><a href="https://gradientbuttons.colorion.co/">Colorion</a> — for gradient button ideas</q></li>
    <li><a href="https://fonts.google.com/?query=Impallari%20Type">Impallari Type</a> — for heading font <a href="https://fonts.google.com/specimen/Dosis">Dosis</a></q></li>
    <li><a href="https://fonts.google.com/?query=Sebastian%20Kosch">Sebastian Kosch</a> — for body font <a href="https://fonts.google.com/specimen/Crimson+Text">Crimson Text</a></q></li>
  </ul>
  (This is not to suggest that any of these groups endorse this site or even know of its existence!)
</p>
<h2>Fan content policy</h2>
<p>This site is not endorsed or approved by Wizards of the Coast. Instead, it is unofficial fan content under the auspices of the <a href="https://company.wizards.com/fancontentpolicy">Fan Content Policy</a>. Portions of the materials used are property of Wizards of the Coast. &copy;Wizards of the Coast LLC.</p>
</div>
{% endblock %}