{% extends 'base.html' %}
{% load humanize %}
{% load simple_math %}
{% load mana %}
{% block title %}{{ heading|title }} cards{% endblock %}
{% block body %}
<h1>{{ heading|title }} cards {{ heading|mana_symbols_by_name|safe }}</h1>
<div class="container">
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Color identity</th>
      <th># of decks</th>
      <th>% of decks</th>
    </tr>
    {% for card in cards %}
    <tr>
      <td>{{ cards.start_index|plus:forloop.counter0 }}</td>
      <td><a href="{% url 'card-single' card.id %}">{{ card.name }}</a></td>
      <td>{{ card.color_identity|mana_symbols|safe }}</td>
      <td>{{ card.num_decks|intcomma }}</td>
      <td>{{ card.num_decks|percent_of:deck_count }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">Sorry, no cards found.</td></tr>
    {% endfor %}
    <tr>
      <td></td>
      <th></th>
      <th></th>
      <th>{{ deck_count|intcomma }}</th>
      <th>100%</th>
    </tr>
  </table>
  <p>
    {% if cards.has_previous %}
    <a href="?page=1">first</a>
    <a href="?page={{ cards.previous_page_number }}">previous</a>
    {% endif %}
    (page {{ cards.number }} of {{ cards.paginator.num_pages }})
    {% if cards.has_next %}
    <a href="?page={{ cards.next_page_number }}">next</a>
    <a href="?page={{ cards.paginator.num_pages }}">last</a>
    {% endif %}
  </p>
</div>
{% endblock %}