{% extends 'base.html' %}
{% load humanize %}
{% load simple_math %}
{% load mana %}
{% block title %}{{ heading|title }} commanders{% endblock %}
{% block body %}
<h1>{{ heading|title }} commanders {{ heading|mana_symbols_by_name|safe }}</h1>
<div class="container">
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Color identity</th>
      <th># of decks</th>
      <th>% of decks</th>
    </tr>
    {% for cmdr in commanders %}
    <tr>
      <td>{{ commanders.start_index|plus:forloop.counter0 }}</td>
      <td><a href="{% url 'cmdr-single' cmdr.id %}">{{ cmdr }}</a></td>
      <td>{{ cmdr.color_identity|mana_symbols|safe }}</td>
      <td>{{ cmdr.num_decks|intcomma }}</td>
      <td>{{ cmdr.num_decks|percent_of:deck_count }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">Sorry, no commanders like that.</td></tr>
    {% endfor %}
    <tr>
      <td></td>
      <th></th>
      <th></th>
      <th>{{ deck_count|intcomma }}</th>
      <th>100%</th>
    </tr>
  </table>
  <p>
    {% if commanders.has_previous %}
    <a href="?page=1">first</a>
    <a href="?page={{ commanders.previous_page_number }}">previous</a>
    {% endif %}
    (page {{ commanders.number }} of {{ commanders.paginator.num_pages }})
    {% if commanders.has_next %}
    <a href="?page={{ commanders.next_page_number }}">next</a>
    <a href="?page={{ commanders.paginator.num_pages }}">last</a>
    {% endif %}
  </p>
</div>
{% endblock %}