{% extends 'base.html' %}
{% load humanize %}
{% block body %}
<div class="container col-xxl-8 px-4 py-3">
  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{{ SITENAME }}: better decks through data</h1>
      <p class="lead">
        {{ SITENAME }} provides a place to discover new commanders and see what people are running in Pauper Commander (PDH).
        {% if stats %}
        Covering {{ stats.legal_decks }} decks; last updated <abbr data-tip="{{ stats.timestamp|date:"Y-m-d G:i:s" }} (UTC)">{{ stats.timestamp|naturaltime }}</abbr>.
        {% else %}
        EDH has plenty of tools, why shouldn't PDH have one, too?
        {% endif %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-lg px-4 me-md-2" href="{% url 'cmdr-top' %}">Explore</a>
        <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'about' %}">About</a>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6 mx-auto">
      <a href="{{ face_card_link }}">
        <img src="{{ image_uri }}"
          class="card-normal d-block mx-lg-auto img-fluid" alt="{{ face_card_name }}"
          loading="lazy">
      </a>
    </div>
  </div>
</div>
{% endblock %}