{% extends 'base.html' %}
{% load humanize %}
{% load simple_math %}
{% load mana %}
{% block title %}{{ card.name }} (commander){% endblock %}
{% block opengraph %}
{% include '_opengraph.html' with og_cardname=card.name og_url=request.build_absolute_uri og_image=card.default_printing.image_uri %}
{% endblock %}
{% block body %}
<h1>{{ card.name }}</h1>
<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'cmdr-single' card.id %}">Commander</a>
  </li>
  {% if has_partners %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cmdr-partners' card.id %}">Partners</a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cmdr-decklist' card.id %}">Decks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'card-single' card.id %}">Card</a>
  </li>
</ul>
<div class="clearfix">
  {% include 'stats/_card_image_gallery.html' %}
  <p>{{ card.type_line }} {{ card.color_identity|mana_symbols|safe }}</p>
  <p><a href="{% url 'card-single' card.id %}">View as card</a> | <a href="{{ card.scryfall_uri }}">View on Scryfall</a></p>
  <p>Commands {{ commands|intcomma }} of {{ could_be_in|intcomma }} decks ({{ commands|percent_of:could_be_in }}).</p>
  <ul class="list-group mb-3 ms-sm-3 me-sm-3">
    {% for deck in top_decks %}
    <li class="list-group-item">
      {% if deck.source_link %}<a href="{{ deck.source_link }}">{{ deck.name }}</a>{% else %}{{ deck.name }}{% endif %} by {{ deck.creator_display_name }}
      {% for cmdr in deck.commanders %}{% if cmdr.card != card %}<small>(with <a href="{% url 'cmdr-single' cmdr.card.id %}">{{ cmdr.card.name }}</a>)</small>{% endif %}{% endfor %}
    </li>
    {% endfor %}
    {% if top_decks|length < commands %}
      <li class="list-group-item"><a href="{% url 'cmdr-decklist' card.id %}">More decks commanded by {{ card.name }}</a></li>
    {% endif %}
  </ul>
</div>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
    {% firstof page_c '1' as c %}
    {% firstof page_a '1' as a %}
    {% firstof page_e '1' as e %}
    {% firstof page_i '1' as i %}
    {% firstof page_s '1' as s %}
    {# as of 2022-11-18 there are no common Planeswalkers and #}
    {# no uncommon Planeswalkers which can be your commander #}
    {% comment %} {% firstof page_p '1' as p %} {% endcomment %}
    {% firstof page_l '1' as l %}
    {% firstof page_g '1' as g %}
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'c' c %}" hx-trigger="load" hx-swap="outerHTML"><div class="card mb-3"><h5 class="card-header">Creatures</h5><div class="card-body"><p class="card-text placeholder-glow"><span class="placeholder col-5"></span><span class="placeholder col-6"></span><span class="placeholder col-7"></span><span class="placeholder col-4"></span></p></div></div></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'a' a %}" hx-trigger="load" hx-swap="outerHTML"><div class="card mb-3"><h5 class="card-header">Artifacts</h5><div class="card-body"><p class="card-text placeholder-glow"><span class="placeholder col-5"></span><span class="placeholder col-6"></span><span class="placeholder col-7"></span><span class="placeholder col-4"></span></p></div></div></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'e' e %}" hx-trigger="load" hx-swap="outerHTML"><div class="card mb-3"><h5 class="card-header">Enchantments</h5><div class="card-body"><p class="card-text placeholder-glow"><span class="placeholder col-5"></span><span class="placeholder col-6"></span><span class="placeholder col-7"></span><span class="placeholder col-4"></span></p></div></div></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'i' i %}" hx-trigger="load" hx-swap="outerHTML"><div class="card mb-3"><h5 class="card-header">Instants</h5><div class="card-body"><p class="card-text placeholder-glow"><span class="placeholder col-5"></span><span class="placeholder col-6"></span><span class="placeholder col-7"></span><span class="placeholder col-4"></span></p></div></div></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 's' s %}" hx-trigger="load" hx-swap="outerHTML"><div class="card mb-3"><h5 class="card-header">Sorceries</h5><div class="card-body"><p class="card-text placeholder-glow"><span class="placeholder col-5"></span><span class="placeholder col-6"></span><span class="placeholder col-7"></span><span class="placeholder col-4"></span></p></div></div></div>
    {% comment %} <div class="col" hx-get="{% url 'hx-common-cards' card.id 'p' p %}" hx-trigger="load" hx-swap="outerHTML"><div class="card mb-3"><h5 class="card-header">Planeswalkers</h5><div class="card-body"><p class="card-text placeholder-glow"><span class="placeholder col-5"></span><span class="placeholder col-6"></span><span class="placeholder col-7"></span><span class="placeholder col-4"></span></p></div></div></div> {% endcomment %}
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'l' l %}" hx-trigger="load" hx-swap="outerHTML"><div class="card mb-3"><h5 class="card-header">Lands</h5><div class="card-body"><p class="card-text placeholder-glow"><span class="placeholder col-5"></span><span class="placeholder col-6"></span><span class="placeholder col-7"></span><span class="placeholder col-4"></span></p></div></div></div>
    <div class="col" hx-get="{% url 'hx-common-cards' card.id 'g' g %}" hx-trigger="load" hx-swap="outerHTML"><div class="card mb-3"><h5 class="card-header">Legendaries</h5><div class="card-body"><p class="card-text placeholder-glow"><span class="placeholder col-5"></span><span class="placeholder col-6"></span><span class="placeholder col-7"></span><span class="placeholder col-4"></span></p></div></div></div>
  </div>
</div>
{% endblock %}
{% block postscript %}
<script>
  htmx.on("page_move", function(evt) {
    let params = new URLSearchParams(document.location.search);
    const type = evt.detail.type;
    const page = evt.detail.page;

    if (page == 1)
    {
      params.delete(type);
    } else {
      params.set(type, page);
    }

    newParams = params.toString();
    if (newParams != document.location.search)
    {
      history.replaceState({}, '', "?" + newParams);
    }
  });
</script>
{% endblock %}