{% extends 'base.html' %}
{% load humanize %}
{% load simple_math %}
{% load mana %}
{% block title %}{{ card.name }} (card){% endblock %}
{% block body %}
<h1>{{ card.name }}</h1>
<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'card-single' card.id %}">Card</a>
  </li>
  {% if all_commander %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'card-single-pairings' card.id %}">Commander pairs</a>
  </li>
  {% endif %}
</ul>

<div class="clearfix">
  {% include 'stats/_card_image_gallery.html' with pos="start" %}
  <p>{{ card.type_line }} {{ card.color_identity|mana_symbols|safe }}</p>
  <p>{% if solo_commander %}<a href="{% url 'cmdr-single-new' solo_commander.id %}">View as commander</a> | {% endif %}<a href="{{ card.scryfall_uri }}">View on Scryfall</a></p>
  <p>Appears in {{ is_in|intcomma }} of {{ could_be_in|intcomma }} decks ({{ is_in|percent_of:could_be_in }}).</p>
  {% if commanders %}
  <p>Appears with these commanders:</p>
  <ul class="list-group mb-3 ms-sm-3 me-sm-3">
    {% for cmdr in commanders %}
    <li class="list-group-item"><a href="{% url 'cmdr-single-new' cmdr.id %}">{{ cmdr }}</a> ({{ cmdr.count }})</li>
    {% endfor %}
    <li class="list-group-item">
      {% if commanders.has_previous %}
      <a href="?page=1">first</a>
      <a href="?page={{ commanders.previous_page_number }}">previous</a>
      {% endif %}
      (page {{ commanders.number }} of {{ commanders.paginator.num_pages }})
      {% if commanders.has_next %}
      <a href="?page={{ commanders.next_page_number }}">next</a>
      <a href="?page={{ commanders.paginator.num_pages }}">last</a>
      {% endif %}
    </li>
  </ul>
  {% endif %}
</div>
{% endblock %}