{% extends 'base.html' %}
{% load static %}
{% load simple_math %}
{% block title %}Themes{% endblock %}
{% block body %}
<h1>Themes</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-3">
    {% for theme in themes %}
    {% with parity=forloop.counter0|parity %}
    <div class="col d-flex align-items-start">
    {% endwith %}
      <div>
        {% if theme.filter_type == 'T' %}
        <a class="fs-4" href="{% url 'theme-single-tribal' theme.slug %}">{{ theme.display_name }}</a> <span class="badge bg-info">tribal</span>
        {% elif theme.filter_type == 'K' %}
        <a class="fs-4" href="{% url 'theme-single-keyword' theme.slug %}">{{ theme.display_name }}</a> <span class="badge bg-secondary">keyword</span>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div>Sorry, no themes found.</div>
    {% endfor %}
  </div>
</div>
{% endblock %}