{% extends 'base.html' %}
{% load humanize %}
{% load simple_math %}
{% load mana %}
{% block title %}{{ tribe }} commanders{% endblock %}
{% block body %}
<h1>{{ tribe }} commanders</h1>
<p>
  A deck with {{ card_threshold }}+ {{ tribe }} cards is considered "{{ tribe }} tribal".
  Each commander with {{ deck_threshold }}% or more of their decks {{ tribe }}-themed shows up here, assuming it has at least 2 decks of the tribe.
</p>
<div class="container">
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Color identity</th>
      <th># of {{ tribe }} decks</th>
    </tr>
    {% for cmdr in commanders %}
    <tr>
      <td>{{ cmdr.rank }}</td>
      <td><a href="{% url 'cmdr-single' cmdr.sfid %}">{{ cmdr }}</a></td>
      <td>{{ cmdr.color_identity|mana_symbols|safe }}</td>
      <td><a href="{% url 'cmdr-decklist' cmdr.sfid %}">{{ cmdr.tribal_decks|intcomma }} / {{ cmdr.total_deck_count|intcomma }}</a> ({{ cmdr.tribal_decks|percent_of:cmdr.total_deck_count }})</td>
    </tr>
    {% empty %}
    <tr><td colspan="4">Sorry, no commanders like that.</td></tr>
    {% endfor %}
  </table>
</div>
{% endblock %}